<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Title</title>
</head>
<body>
<!--Busqueda-->
<div class="m-5">
<form th:action="@{/platos}" method="get" class="max-w-md mx-auto">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" name="nombreCategoria" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Entrada, postre,principal..."  />
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</form>
</div>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                ID
            </th>
            <th scope="col" class="px-6 py-3">
                Nombre
            </th>
            <th scope="col" class="px-6 py-3">
                Descripcion
            </th>
            <th scope="col" class="px-6 py-3">
                Precio
            </th>
            <th scope="col" class="px-6 py-3">
                Categoria
            </th>
            <th scope="col" class="px-6 py-3">
                Disponibilidad
            </th>
            <th scope="col" class="px-6 py-3">
                Opciones
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plato:${platos}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <th th:text="${plato.id}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">

            </th>
            <td th:text="${plato.nombre}" class="px-6 py-4">

            </td>
            <td th:text="${plato.descripcion}" class="px-6 py-4">

            </td>
            <td th:text="${plato.precio}" class="px-6 py-4">

            </td>
            <td th:text="${plato.categoria}" class="px-6 py-4">

            </td>
            <td th:text="${plato.disponibilidad ?'disponible':'Agotado'}" class="px-6 py-4">

            </td>
            <td class="px-6 py-4">
                <a th:href="@{/actualizar-plato/}+${plato.id}" class="inline-block px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600">
                    Actualizar
                </a>
                <a th:href="@{/eliminar-plato/}+${plato.id}" class="inline-block px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600">
                    Eliminar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--Agregar nuevo plato-->
<div class="m-5">
    <a th:href="@{/formulario-platos}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Agregar Nuevo Plato</a>
</div>


</div>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>